


html { 
  	background: url(../img/background-y.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	min-width:200px; max-width:670px;
	text-align: center;
	text-decoration: none;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
        padding-bottom: 20px;
	height: auto;
	min-height: 100%;
        border: 1px solid transparent;
	}

#header{
	width: 100%;
	text-align: center;
	}



#content_container{
	width: 100%;
 	}



.menuvaka  	{
        position: relative;
  	line-height: 50px;
  	text-align: center;
        float: left;
	margin-top: 8px;		
	height:50px;
	width:120px;
      	background-color:#660000;
    	border-radius: 15px;
    	border: 2px solid #FFFFCC;
            	 font-family:rockwell extra bold,callibri,Verdana,Arial,Helvetica,sans-serif;
              	 font-size: 16px;color:#FFFFCC;
	         font-weight: bold;
           	 }

.menuvakb  	{
        position: relative;
  	line-height: 50px;
  	text-align: center;
        float: right;
	margin-top: 8px;		
	height:50px;
	width:120px;
      	background-color:#660000;
    	border-radius: 15px;
    	border: 2px solid #FFFFCC;
            	 font-family:rockwell extra bold,callibri,Verdana,Arial,Helvetica,sans-serif;
              	 font-size: 16px;color:#FFFFCC;
	         font-weight: bold;
           	 }



.forma  {
   background; transparant;
   width: 120px;
   padding: 5px; 
   height: 50px;
   float: right;
      	background-color:#660000;
    	border-radius: 10px;
    	border: 2px solid #FFFFCC;
   font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
   font-size: 16px;color:#FFFFCC;  
   line-height: 2;
   padding: 5px;
   }

.formb  {
   background; transparant;
   width: 120px;
   padding: 5px;
   height: 50px;
   float: left;
      	background-color:#660000;
    	border-radius: 10px;
    	border: 2px solid #FFFFCC;
   font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
   font-size: 16px;color:#FFFFCC;  
   line-height: 2;
   padding: 5px;
   }




#iframeright-dressuur
	{
	background: transparent;
	width:100%; max-width:200px;
	height: 7000px;
            	 font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left; 
	}

#iframeright-springen
	{
	background: transparent;
	width:100%; max-width:200px;
	height: 7000px;
            	 font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left; 
	}


.iframeleft-dressuur
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 950px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-springen
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 850px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}




.iframeleft-algemeen
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 150px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-uitrusting
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 250px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-verzorging
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 200px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-studie
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 200px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}


.iframeleft-diversen
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 150px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-overons
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 200px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-tweehonderdvijftig
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 250px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-ziekten
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 250px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-accomodatie
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 250px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}



.iframeleft-voeding
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 300px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}

.iframeleft-paard
	{
	padding: 10px 0 0 0;
	background: transparent;
	width:100%; 
	height: 350px;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left;
	}


#iframebanner
	{
	background: transparent;
	width:400px;
	height:60px;
	}



#footer_container{
	clear: both;
	height: 200px;
	width: 100%;
	text-align: center;
	}


#footer{
	width: 100%;
	height: 200px;
	background-color:#5a0406;
        font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
		font-size: 1em;color:#FFFFCC;
	border: thin outset #800; 
	}





#iframeinfo
	{
	background-color:#5a0406;
	width:100%;
	height: 100%;
            	 font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;color:#FFFFCC;
	text-align: center	
	}



#infomenu
	{
	width:100%;
	height: 200px;
	background-color:#5a0406;
	border: solid 1px ;
       	border-color:#FFFFCC;
        font-family: calibri,verdena, Arial, sans-serif;
	font-size: 1em;
	text-align: left; 
        color:#ffffcc; 
	}

#webdesign
	{
	width:100%;
	height:17px;
	background-color:#000;
	border: solid 1px ;
       	border-color:#FFFFCC;
        font-family: calibri,verdena, Arial, sans-serif;
	font-size: 1em;
        color:#ffffcc;
	text-align: center; 
	}



#tekst
	{
	position:absolute;
	width:586px;
	 top:138px;
	height: 576px;
	 left:185px;
            	 font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: center;
	z-index: 7; 
	}


#tekstfooter
	{
	position:absolute;
	width:100%;
	 top: 702px;
	height: 15px;
	 left:185px;
            	 font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;color:#660000;
	text-align: center;
	z-index: 70; 
	}


#tekstweetjes
	{
         font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;color:#660000;
	text-align: left; 
	}


.tableweetjes
	{
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;      
             	font-size: 12px;color:#FFFFCC;
	}

.logo
	{
	width:100%;max-width:250px;
	}


.wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 12px 15px;

    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #4cbeff transparent;
}


.tabeltitel
	{
	border: solid 1px #800;
       	border-color:#66000;
	padding: 2px 2px 2px 2px;
     	background-color: #FFFFCC;
-moz-opacity: 0.70;
-khtml-opacity: 0.70;
opacity: 0.70;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
filter:alpha(opacity=70);
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 12px;color:#660000;
	font-weight: bold;
        }

.tabelfixed
	{
	font-family:Verdana, Arial, Helvetica, sans-serif;      
             	font-size: 12px;color:#FFFFCC;
	table-layout: fixed;
	border-collapse: collapse; 
	}

.tablefixed
	{
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;      
             	font-size: 14px;color:#FFFFCC;
	table-layout: fixed;
	border-collapse: collapse;
        width:100%; max-width:450px;
	text-align:left; 
	}

.td
	{
	border: solid 1px #800;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	}

.td-tabel1
	{
	border: solid 1px #800;
       	border-color:#66000;
	padding: 2px 2px 2px 2px;
      	background-color: #FFFFCC;
-moz-opacity: 0.50;
-khtml-opacity: 0.50;
opacity: 0.50;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
filter:alpha(opacity=30);
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 12px;color:#660000;
	font-weight: bold;
	}

.td-tabel2
	{
	border: solid 1px #800;
       	border-color:#66000;
	padding: 2px 2px 2px 2px;
      	background-color: #FFFFCC;
-moz-opacity: 0.40;
-khtml-opacity: 0.40;
opacity: 0.40;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=40);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
filter:alpha(opacity=40);
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 12px;color:#660000;
	font-weight: bold;
	}


.videocel
	{
        width: 150px;
        padding: 5px;
        float: left;           	
	font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;      
             	font-size: 14px; font-weight:bold; color:#FFFFCC;
	}

.videocelmiddel
	{
        width: 130px;
        padding: 5px;
        float: left;           	
	font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;      
             	font-size: 14px; font-weight:bold; color:#FFFFCC;
	}


.videocelklein
	{
        width: 100px;
        padding: 5px;
        float: left;           	
	font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;      
             	font-size: 14px; font-weight:bold; color:#FFFFCC;
	}


.titelwit   
	{
	width:100%;
	height:30px;
      	background-color: #FFFFCC;
       	border-color:#FEFEFA;#660000;
	font-family:calibri,Verdana,Arial,Helvetica,sans-serif;
           font-size: 1.8em; color:#660000; font-weight: bold;
        -moz-opacity: 0.70;
          -khtml-opacity: 0.70;
          opacity: 0.70;
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
          filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
          filter:alpha(opacity=70);
	padding-left:12px;
        padding-right: 2px;

           	 }


.letterwitcenter    
	{
	padding-top: 50px;
	width: 100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align: left;  
             	font-size: 12px;color:#FFFFCC;
	padding-left:2px;
        padding-right:2px;
	}

.menusub    
	{
	padding-top: 50px;
	width: 100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align: left;  
             	font-size: 12px;color:#FFFFCC;
	padding-left:5px;
        padding-right:5px;
	}



.linkvakje   	{
        position: relative;
  	line-height: 100px;
  	text-align: center;
        float: left;
	margin-left: 8px;
	margin-top: 8px;		
	height:100px;
	width:130px;
      	background-color: #FFFFCC;
-moz-opacity: 0.50;
-khtml-opacity: 0.50;
opacity: 0.50;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
filter:alpha(opacity=50);
       	border-color:#FEFEFA;
            	 font-family:rockwell extra bold,callibri,Verdana,Arial,Helvetica,sans-serif;
              	 font-size: 16px;color:#660000;
	         font-weight: bold;
           	 }


.linkvakjesub  	{
        position: relative;
  	line-height: 30px;
  	text-align: left;
  	padding-left:6px;
        float: left;
	margin-left: 8px;
	margin-bottom: 8px;		
	height:30px;
	width:200px;
      	background-color: #FFFFCC;
-moz-opacity: 0.50;
-khtml-opacity: 0.50;
opacity: 0.50;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
filter:alpha(opacity=50);
       	border-color:#FEFEFA;
            	 font-family:rockwell extra bold,callibri,Verdana,Arial,Helvetica,sans-serif;
              	 font-size: 16px;color:#660000;
	         font-weight: bold;
           	 }



.halfdiv  	{
        position: relative;
        float: left;
	margin-left: 1px;
	margin-top: 1px;
	width:150px;
	border: solid 2px #FFFFCC;
              	 font-size: 14px;color:#FFFFCC;
           	 }



.tekst-index   	{
        position: relative;
	float:left;
	padding-top:12px;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:12px;		
	width:95%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align: left;  
        font-size: 14px;color:#FFFFCC;
           	 }
.bronwitwidth   	{
	width:120px;		
	height:30px;
	padding-left:2px;
        padding-right: 2px;
	text-align:left;
      	background-color: #FFFFCC;
-moz-opacity: 0.50;

-khtml-opacity: 0.50;

opacity: 0.50;

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);

filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);

filter:alpha(opacity=50);
       	border-color:#FEFEFA;
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 8px;color:#660000;
	font-weight: bold;
           	 }


.bronwit   	{		
	height:30px;
	padding-left:2px;
        padding-right: 2px;
	text-align:left;
      	background-color: #FFFFCC;
-moz-opacity: 0.50;

-khtml-opacity: 0.50;

opacity: 0.50;

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);

filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);

filter:alpha(opacity=50);
       	border-color:#FEFEFA;
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 8px;color:#660000;
	font-weight: bold;
           	 }

.tdgif
	{
	border: solid 1px #800;
 	vertical-align:text-top;
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 12px;color:#660000;
	font-weight: bold;
	}


.titelwitgif   
	{
	border: solid 1px #800;
	width:100%;
	height:20px;
      	background-color: #FFFFCC;
-moz-opacity: 0.50;

-khtml-opacity: 0.50;

opacity: 0.50;

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=50);
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);

filter:alpha(opacity=50);
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 12px;color:#660000;
	padding-left:12px;
          	padding-right: 2px;
	font-weight: bold;
           	 }


.letterwit      
	{
	font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;color:#FFFFCC;line-height:25px;	
	padding-left:12px;
        padding-right: 12px;
	}

.wisselen      
	{
	font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;color:#FFFFCC;line-height:25px;	
	padding-left:12px;
        padding-right: 12px;
	}

.letterrood   
	{	
	font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
             	text-align: bottom;      
             	font-size: 10px;color:#660000;
	        padding-left:2px;
          	padding-right: 2px;
	}


.letterwitborder      
	{
        width: 150px;
        padding: 5px;
        float: left;           	
	font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;color:#FFFFCC;line-height:25px;	
	border: 2px solid #FFFFCC; 
	}

.letterwitvideo     
	{
        padding: 5px;
        float: left;           	
	font-family:Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;color:#FFFFCC;line-height:25px;	
	}


.letter-rotate
	{
    	display:block;
    	-webkit-transform: rotate(-90deg); 
    	-moz-transform: rotate(-90deg); 
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); //For IE support
overflow: auto;
padding-left: 10px;
height: 620px !important;
    	font-family:Verdana, Arial, Helvetica, sans-serif;
    	font-size: 12px;color:#660000;
	font-weight: bold;
	}



.uitvouwentekst
	{
	font-family:Verdana,Arial,Helvetica,sans-serif;
           font-size: 16px;color:#FFFFCC;font-weight: bold;line-height:25px;
	padding-left:12px;
        padding-right: 12px;
	cursor:hand;
      	background-color: #660000;
	}


.uitvouwentekstlijsten
	{
	font-family:Verdana,Arial,Helvetica,sans-serif;
           font-size: 14px;color:#FFFFCC;font-weight: bold;line-height:20px;
	text-align:left;
	padding-left:12px;
        padding-right: 12px;
	border: 1px solid #660000; 
	cursor:hand;
      	background-color: #660000;
-moz-opacity: 0.70;

-khtml-opacity: 0.70;

opacity: 0.70;

-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);

filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);

filter:alpha(opacity=70);
	}


.speciaalwit
{font-size: 18px; line-height:30px; color:#FFFFCC; text-decoration: none; font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;}
a.speciaalwit:link, a.speciaalwit:visited{
color: #FFFFCC;
}
a.speciaalwit:hover, a.speciaalwit:active{
color: #660000;
} 


.speciaalwittekst
{font-size: 14px;color:#FFFF00;line-height:25px; text-decoration: none; font-family:Verdana,Arial,Helvetica,sans-serif;}
a.speciaalwittekst:link, a.speciaalwittekst:visited{
color: f6f670;
}
a.speciaalwittekst:hover, a.speciaalwittekst:active{
color: #660000;
} 

.speciaalwit8
{font-size: 24px;color:#FFFFCC; font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;}
a.speciaalwit8:link, a.speciaalwit8:visited{
color: #FFFFCC;
}
a.speciaalwit8:hover, a.speciaalwit8:active{
color: #660000;
} 



H1 	{
	font-family:Adamsky Outline SF,Verdana, Arial, Helvetica, sans-serif;
    color:#FFFFD7;
    display: block;
    font-size: 2em; 
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	text-align: center;
	}

H2	{
	font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
    color:#660000;
    font-size: 1.5em; 
    font-weight: bold;
	}


H3	{
	font-family:Calibri,Verdana, Arial, Helvetica, sans-serif;
    color:#FFFFD7;
    display: block;
    font-size: 2em; 
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
	}







