.menubalk{
	list-style-type: none;
	position: absolute;
	margin: 0;
	padding-top: 80px;
	padding-left: 2px;
	width:900px;
	z-index: 50;
	}

.menubalk5{
	list-style-type: none;
	position: absolute;
	margin: 0;
	padding-left: 0px;
	padding-top: 0px;
	z-index: 50;
	}



.menubalk5 ul{
	padding-left: 0px;
	padding-top: 0px;
	font: bold 11px verdana, arial, sans-serif;
	list-style-type: none;
	z-index: 100;
	overflow: visible;	}



/* hoofditems */

.menubalk5 ul li{

	position: relative;

	display: inline;

	float: left;

	}



.menubalk5 ul li a{

	display: inline-block;
	width: 88px; /*Width of top level menu link items*/
	padding: 2px 0px;
	border: 1px solid #E3D9BE;
	border-left-width: 0;
	text-decoration: none;
      	background-color: #7A453F;
            	font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 11px;color:#E3D9BE;
	font-weight: bold;
	z-index: 100;
	
}



* html .menubalk5 ul li a{

	display: inline-block;

	}



.menubalk5 ul li a:link, 

.menubalk5 ul li a:visited{

	color: #E3D9BE;

	}



.menubalk5 ul li a.selected{ 
	background: #7A453F; 

	color: #E3D9BE;

	}



.menubalk5 ul li a:hover{

      	background-color: #E3D9BE;
       	border-color:#660000;
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 11px;color:#7A453F;
	font-weight: bold;
	z-index: 100;

	}
	


/* subitems */

.menubalk5 ul li ul{

	position: absolute;

	left: 0;

	display: none;

	visibility: hidden;

}



.menubalk5 ul li ul li{

	display: list-item;

	float: none;

	}



.menubalk5 ul li ul li ul{

top: 0;

}



.menubalk5 ul li ul li a{

width: 150px; /*width of sub menu levels*/
	font-weight: normal;
	padding: 2px 5px;
      	background-color: #7A453F;
       	border-color:#E3D9BE;
            	 font-family:Verdana, Arial, Helvetica, sans-serif;
              	font-size: 11px;color:#E3D9BE;
	font-weight: bold;
	border-width: 0 1px 1px 1px;
	z-index: 100;
}

*html .menubalk5{
	height: 1%;
	}



/* pijltjes */

.downarrowclass{

	position: absolute;
top: 7px;
right: 7px;

	}


.rightarrowclass{

	position: absolute;

	top: 3px;

	right: 5px;

}


/* schaduw */

.schaduw{ 

position: absolute;

	left: 0;

	top: 0;

	width: 0;

	height: 0;

	background: silver;

	}



.toplevelschaduw{ 

	opacity: 0.8;

	}